<div class="col-xs-4"></div>
<div class="col-xs-4">
    <form [formGroup]="loginForm">
        <div class="form-group" id="email-form-group">
            <label>Email Address</label>
            <input type="text" class="form-control" id="emailAddress" placeholder="Email Address" formControlName="emailAddress">
        </div>
        <div class="form-group" id="password-form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <div class="col-xs-8">
            <button class="btn btn-success btn-xl" routerLink="/bugs" type="submit" (click)="login()" [disabled]="loginForm.invalid"><a routerLink="" class="dropdown-item"></a>Sign In</button>
        </div>
        <div class="col-xs-4">
            <button class="btn btn-success btn-xl" routerLink="/bugs" type="submit" (click)="createAccount()" [disabled]="loginForm.invalid"><a routerLink="" class="dropdown-item"></a>Create Account</button>
        </div>
        
    </form>
</div>
<div class="col-xs-4"></div>