<nav class="navbar-dark bg-inverse">
    <div class="container">
        <a routerLink="" class="navbar-brand"><img src="/assets/images/buggedout-logo.png" alt=""></a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="hav-dropdown" data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">emailAddress</a>
                <div class="dropdown-menu" aria-labelledby="nav-dropdown">
                    <a href="#" class="dropdown-item">Sign Out</a>
                </div>
            </li>
        </ul>
        <button class="btn btn-secondary btn-xl" type="button" (click)="test()">Create User</button>
        <button class="btn btn-secondary btn-xl" type="button" (click)="signOut()">Sign Out</button>
        <button class="btn btn-secondary btn-xl" type="button" (click)="signIn()">Sign In</button>
    </div>
</nav>